<header class="header">
      <a href="index.html" class="logo">
        <img src="images\Logos.png" alt="Binabox Logo" class="logo__image" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__list-item"><a class="main-nav__link" href="index.html">Home</a></li>
          <li class="main-nav__list-item"><a class="main-nav__link" href="blog.html">Blog</a></li>
          <li class="main-nav__list-item"><a class="main-nav__link" href="#">Catalog</a></li>
          <li class="main-nav__list-item"><a class="main-nav__link" href="#">Collection</a></li>
        </ul>
        <input type="search" placeholder="Search..." />
        <a class="button button--secondary header__btn" href="#" target="_blank" rel="noopener noreferrer">Discord</a>
        <a class="button button--primary header__btn" href="#" target="_blank" rel="noopener noreferrer">Connect</a>
      </nav>
    </header>